<h2>Post Title:</h2>
<h4> <%= @post.title %> </h4>
<h3>Post body: </h3>
<h4>  <%= @post.body %></h4>
<% if @post.user_id == session[:user_id] %>
  <button><%= link_to "Modify this post", edit_post_path %></button>
<% end %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <p>commented by: <%=comment.user.username%> with <%= comment.vote_count %> votes</p>
    <% if session[:user_id] == comment.user_id %>
     <%= button_to "Delete this comment", post_comment_path(comment.post,comment), method: :delete %>
    <% end %>
<% end %>

<% if logged_in? %>
  <%= link_to "Post a comment on this post", new_post_comment_path(@post)%>
<% end %>
