<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", '/' %>
<% if logged_in? %>
  <p>Hello <%= current_user.username %></p>
  <p><%= link_to "SignOut", '/signout' %></p>
<% else %>
  <p><%= link_to "Register", '/register' %></p>
  <p><%= link_to "Log-In", '/login' %></p>
<% end %>
<h1>Welcome to the fake Hackernews</h1>

<%= yield %>

</body>
</html>
